input[type="radio"] {
  display: none;
}

/* The label is what's left to style. 
  As long as its 'for' attribute matches the input's 'id', it will maintain the function of a radio button. */
label {
  padding: 2em;
  display: inline-block;
  border: 1px solid grey;
  cursor: pointer;
}

.blank-label {
  display: none;
}

/* The '+' is the adjacent sibling selector.
  It selects what ever element comes right after it,
  as long as it is a sibling. */
input[type="radio"]:checked + label {
  background: grey;
  color: #fff;
}
